@import "tailwindcss";

:root {
  --background: #949191;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #949191;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swal2-popup {
  border-radius: 12px !important;
  font-family: 'Poppins', sans-serif !important;
}
.swal2-confirm {
  background-color: #0d9488 !important; /* teal-600 */
}

